body{
	margin: 0;
	padding: 0;

h1 {
	color: rgb(255, 255, 255);
}
h2 {
    color: #fff;
}

.section-grid {
	color: #fff; /* untuk mengubah warna text dari suatu element */
	text-align: center;
	width: 50vw;
	height: 100vh;
	margin: 50px auto;
	
	
}

#first-section{
	position: relative;
    background-color: #93CCF7;
}

#profile-box{
	position: sticky;
	top: 0px;
}

#second-section{
	background-color: #5ac075;
    position: relative;
}


#flex-box{
	display: flex;
	background-color: whitesmoke;
	justify-content: center;
	height: 40px;
	align-items: center;
}

.flex-items{
	background-color: forestgreen;
	width: 30px;
	height: 20px;
}

#grid-box{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(4, 1fr);
	background-color: yellowgreen;
}

#items-a{
	grid-area: 1 / 1 / 4 / 3;
	place-self: end center;
}
#items-b{
	grid-row: 1/5;
}

#items-c{
	grid-column: 4 / 6;
}

/* Jika lebar layar kita kurang dari 600px */
@media only screen (min-width: 400px) and (max-width:600px){
	#second-section{
		width: 100vw;
	}
}

/* Jika Lebar Layar diatas 601px maka */
@media only screen and (min-width: 601px){
	#first-section{
		width: 100vw;
	}
}

@media only screen and (min-width: 601px){
	#second-section{
		width: 100vw;
	}
}

#third-section {
    background-color: #a46938;
}