body{
	/*background-color: rgb(132, 196, 255);*/
	background-image: linear-gradient(to top, #ffffff, #efeffe, #dbe0fe, #c2d2ff, #a3c5ff, #91bcff, #7eb2ff, #69a9ff, #709eff, #8290ff, #9a7fff, #b569ff);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 40px;
	padding: 6%;
	box-sizing: border-box;
}

h1, h2, h3, h4, p, br, a, li {
	color: rgb(20, 145, 255);
}

#first-section{
	position: relative;
	top:0%;
}

#profile-box{
	position:relative;
	top: 0px;
}

.profile-img{
	position:static;
	align-content: right;
	top: 20px;
	right: 20px;
	width: 200px;
	height: 200px;
	display: grid;	
	grid-column: 2;
	
}

.container{
	display: flex;
}

.section-grid, .section {
	position: relative;
	background-color: #e6f5ff; /* untuk mengubah warna background dari suatu element */
	color: #fff; /* untuk mengubah warna text dari suatu element */
	text-align: center;
	align-content:flex-start;
	width: 50vw;
	height: 50vh;
	margin: auto;
	
	height: auto;
	padding: 10%;
	display: grid;
	flex: 1;
	box-sizing: border-box;
	border-radius: 10%;

}

.insta {
	position: relative;
	background-color: #e6f5ff;
	width: 60px;
	height: 60px;
	align-items: center;
	margin-top: 20px;
	font-family:Cochin;
	border-radius: 50%;
	display: grid;
	align-items: center;
	gap: 10px;
}

.linke {
	position: relative;
	background-color: #e6f5ff;
	width: 60px;
	height: 60px;
	align-items: center;
	margin-top: 20px;
	font-family:Cochin;
	border-radius: 50%;
	display: grid;
	flex-direction: row;
	align-items: center;
	gap: 10px;

}

.school {
	position: relative;
	background-color: #e6f5ff;
	width: 50vw;
	height: 10vh;
	margin: auto;
	padding: 20px;
	height: auto;
	
	display: grid;
	box-sizing: border-box;
	border-radius: 15%;
	margin-top: 20px;
	
	
}

footer {
	position: fixed;
	text-align:left;
  	margin-top: 100px;
}


@media  (max-width: 700px) {
	.profile-img{
		align-content: right;
		text-align: right;
		position: sticky;
		width: 100px;
	    height: 100px;
	}
	
}

@media  (min-width: 600px) {
	.section-grid{
		font-size: larger;
	}
	
}

@media (max-width: 768px) {
	.body {
	  flex-direction: column;
	}
}

